[project]
	description = Basic Java classes example
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Eoin (EoinGr3y)
[access "refs/for/refs/*"]
	read = group user/Eoin (EoinGr3y)
	push = group user/Eoin (EoinGr3y)
	label-Code-Review = -2..+2 group user/Eoin (EoinGr3y)
	label-Verified = -1..+1 group user/Eoin (EoinGr3y)
	rebase = group user/Eoin (EoinGr3y)
	removeReviewer = group user/Eoin (EoinGr3y)
	submit = group user/Eoin (EoinGr3y)
[access "refs/heads/*"]
	read = group user/Eoin (EoinGr3y)
	create = group user/Eoin (EoinGr3y)
	push = +force group user/Eoin (EoinGr3y)
	pushMerge = group user/Eoin (EoinGr3y)
[access "refs/tags/*"]
	push = +force group user/Eoin (EoinGr3y)
	pushTag = group user/Eoin (EoinGr3y)
	pushSignedTag = group user/Eoin (EoinGr3y)
